@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-thumb-gray-600 {
    scrollbar-color: #4b5563 transparent;
  }
  .scrollbar-track-gray-300 {
    scrollbar-color: #d1d5db transparent; 
  }
}

body {
  @apply bg-gradient-to-r from-gray-900 via-gray-800 to-blue-900;
}

html {
  background: #1a202c; 
  background: linear-gradient(to right, #1a202c, #2d3748, #1e3a8a); 
}
html,
body {
  margin: 0;
  padding: 0;
  @apply min-h-screen;
}
